body{background-color:#000000;color:#33DD33; font-family:monospace; font-size:12px; cursor:default; width:1050px;}
h2{color:#CCFFCC;}
canvas{background-color:#CCFFCC; border:1px solid black;}
table{height:350px; position:absolute; left:50%; top:50%;
transform:translate(-50%,-50%); 
-webkit-transform:translate(-50%,-50%);
-moz-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
}
td{vertical-align:top; border:1px solid #003300;}
td#tdLog{width:450px;}
pre#log{font-size:8pt; height:100%; overflow:scroll; overflow-y:auto; overflow-x:auto;
        max-height:400px; min-height:400px; height:auto !important; height:400px; /* IE6 min-height hack */}
input{background-color:#003300; border:1px solid #003300; color:#009900; outline:none;}
input.inpClick{ border:1px solid #003300; font-weight:bold; cursor:pointer;}
input.inpTxt{width:25px;}
input#inpA{ width:140px;}
input#inpC{ width:60px;}
input#inpD{ width:35px;}
input#inpL{ width:40px;}
input#inpT, input#inpK, input#inpLog{ width:45px;}
input:hover{background-color:#006600; color:#CCFFCC;}
input[disabled]{background-color:#111111; color:#009900;}
span.spnLow{font-size:10px; color:#33DD33;}
a{color:#CCFFCC; text-decoration:none;}
a:hover{color:white;}
::-moz-selection{background-color:inherit; color:inherit;}
::selection{background-color:inherit; color:inherit;}
#tdLog ::-moz-selection{color:#CCFFCC;}
#tdLog ::selection{color:#CCFFCC;}